.main-head h2 {
    color: #138f03;
}

.second-head h4 {
    color: #138f03;
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
    background-color: #86cd81;
}

.list-group .list-group-item {
    border-color: #0091b5;
}

.list-group .list-group-item:hover {
    background-color: #86cd81;
}

.container {
    margin-top: 40px;
}

[name="info"] {
    border: 2px groove #0091b5;
}

.btn-group {
    margin-top: 10px;
}